In [ ]:
#analysis of genre evolution

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
#data preprocessing
data = pd.read_table("data/sort_genre_year.csv", sep=",").sort_values(by=["artist_active_start", "artist_main_genre", "artist_id"])
genre_table = data.groupby(["artist_main_genre", "artist_active_start"]).agg({"artist_id":"count"}).unstack(fill_value=0).rename_axis(None)["artist_id"]
genre_table = genre_table.drop(["Unknown"])
genre_table.to_csv('./count_genre_year.csv', sep=',', header=True, index=True)

In [4]:
artists = pd.read_table("data/artists.csv", sep=",").set_index(['artist_id']).sort_values(by=["influence"], ascending=False)
#rock
artists.loc[(artists["artist_main_genre"] == "Pop/Rock") 
            & ((artists["artist_active_start"] == 1950)
              | (artists["artist_active_start"] == 1960))].head()

,artist_name,artist_main_genre,artist_active_start,influence
artist_id,,,,
754032,The Beatles,Pop/Rock,1960.0,0.009067
66915,Bob Dylan,Pop/Rock,1960.0,0.005737
120521,Chuck Berry,Pop/Rock,1950.0,0.004590
894465,The Rolling Stones,Pop/Rock,1960.0,0.004035
824022,Little Richard,Pop/Rock,1950.0,0.003880

In [5]:
#Electronic
artists.loc[(artists["artist_main_genre"] == "Electronic") 
            & ((artists["artist_active_start"] == 1970)
              | (artists["artist_active_start"] == 1960))].head()

,artist_name,artist_main_genre,artist_active_start,influence
artist_id,,,,
104714,Kraftwerk,Electronic,1970.0,0.001498
2411,Tangerine Dream,Electronic,1960.0,0.000461
387815,Neu!,Electronic,1970.0,0.000401
793821,Frankie Knuckles,Electronic,1970.0,0.000290
683750,Yellow Magic Orchestra,Electronic,1970.0,0.000210

In [6]:
#R&B
artists.loc[(artists["artist_main_genre"] == "R&B;") 
            & ((artists["artist_active_start"] == 1940)
              | (artists["artist_active_start"] == 1950))].head()

              artist_name artist_main_genre  artist_active_start  influence
artist_id
46861         Ray Charles              R&B;               1940.0   0.004408
343396          Roy Brown              R&B;               1940.0   0.003988
128099        James Brown              R&B;               1950.0   0.003604
238115          Sam Cooke              R&B;               1950.0   0.003284
960674     Wynonie Harris              R&B;               1940.0   0.002809

In [7]:
#decay genre
dfArt = artists.loc[(artists["artist_main_genre"] == "Jazz") 
            | (artists["artist_main_genre"] == "Vocal")
            | (artists["artist_main_genre"] == "Blues")].head(10)
dfArt

,artist_name,artist_main_genre,artist_active_start,influence
artist_id,,,,
532957,Cab Calloway,Jazz,1930.0,0.020520
79016,Billie Holiday,Vocal,1930.0,0.019570
259529,Lester Young,Jazz,1930.0,0.016920
287604,Louis Jordan,Jazz,1930.0,0.013418
3829,T-Bone Walker,Blues,1930.0,0.009863
403120,The Mills Brothers,Vocal,1930.0,0.007606
805930,Charlie Christian,Jazz,1930.0,0.006717
898336,Mississippi Sheiks,Blues,1930.0,0.006687
898331,Mississippi Fred McDowell,Blues,1950.0,0.006649
608701,Muddy Waters,Blues,1940.0,0.006586

In [9]:
infl = pd.read_table("data/influence_data.csv", sep=",").set_index(['influencer_id'])
infl.loc[dfArt.index.tolist()]
countFollow = infl.loc[dfArt.index.tolist()].groupby(["follower_main_genre"]).agg({"follower_id": "count"}).sort_values(by=["follower_id"], ascending=False)
countFollow.columns = ["count"]
countFollow.drop(["Jazz", "Vocal", "Blues"])

                     count
follower_main_genre
Pop/Rock               145
R&B;                    75
Folk                    11
Country                  4
International            4
Reggae                   4
Religious                3
Comedy/Spoken            2
Latin                    2
Classical                1
Stage & Screen           1